body {
	padding: 0;
	margin: 0;
	background-color: #303841;
	background-image: url('img/sublimeTxt.png');
	background-attachment: fixed;
	background-size: 100%;
}
#bandeau {
	display: flex;
	justify-content: center;	
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #403A2F;
}
.carnet {
	margin: 0;
	color: #95866C;
	font-size: 12vw;
	font-family: 'Oswald';	
}
.nom {
	margin-top: 5vw;
	color: #95866C;
	font-family: 'Oswald';
	font-size: 1vw;
	writing-mode: vertical-rl;
	text-orientation: mixed;
}
hr {
  border: none;
  border-top: 3px double #95866C;
  margin: 0 auto;
  padding: 0 0 1vw 0;
  color: #95866C;
  background-color: #403A2F;
  overflow: visible;
  text-align: center;
  height: 2vw;
}
div.ligne {
	display: inline-block;
}
span.SEM3 {
	display: inline-block;
	margin: 0;
	width: 40vw;
	height: 50vh;
	opacity: 80%;
	text-align: center;
	background-image: url('img/background.png');
	background-size: 100%;
	transition-duration: 0.5s;
}
span.SEM3:hover {
	background-size: 115%;
	transition-duration: 0.5s;
}
span.SEM5 {
	display: inline-block;
	margin: 0;
	width: 40vw;
	height: 50vh;
	opacity: 80%;
	text-align: center;
	background-image: url('img/AlignementsXXIsiècle.jpg');
	background-size: 100%;
	transition-duration: 0.5s;
}
span.SEM5:hover {
	background-size: 115%;
	transition-duration: 0.5s;
}
img {
	width: 14vh;
	height: 14vh;
	overflow: hidden;
}
a {
	text-decoration: none;
}
h1 {
	font-family: 'Oswald';
	color: black;
	margin-top: 4vh;
}