body {
	margin: 0;
	padding: 0;
	background-image: url('img/AlignementsXXIsiècle.jpg');
	background-attachment: fixed;
	background-size: 100%;
}
body::-webkit-scrollbar {
  display: none;
}
#bandeau {
	display: flex;
	justify-content: center;	
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: rgb(30, 15, 66);
}
.carnet {
	margin: 0;
	color: #3F218E;
	font-size: 12vw;
	font-family: 'Oswald';	
}
.nom {
	margin-top: 5vw;
	color: #3F218E;
	font-family: 'Oswald';
	font-size: 1vw;
	writing-mode: vertical-rl;
	text-orientation: mixed;
}
hr {
  border: none;
  border-top: 3px double #3F218E;
  margin: 0 auto;
  padding: 0 0 1vw 0;
  color: #3F218E;
  background-color: rgb(30, 15, 66);
  overflow: visible;
  text-align: center;
  height: 2vw;
}
div.séances {
	margin: 0;
	padding: 0;
	font-family: 'Oswald';
	font-size: 3vw;
	display: inline-block;
	width: 100%;
	height: 25%;
}
p.date {
	margin: 0;
	font-family: 'Orbitron', sans-serif;
	font-size: 25%;
}
iframe.musique {
	overflow: hidden;
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 30vw;
	height: 10vw;
}
p.musique {
	margin: 2vw auto 0 auto;
	width: 80%;
	font-size: 1.5vw;
	text-align: center;
	color: white;
	-webkit-text-stroke: 0.08vw black; 
}
.groupe {
	display: inline-flex;
	margin: 0 0 3vw 0;
}
p.txtdft {
	font-family: Garamond;
	font-size: 2vw;
	margin: 0 5vw;
	text-align: left;
}
div.séance1 {
	background-color: rgb(0, 61, 39, .9);
	margin: 0;
	padding: 0;
}
h1.séance1 {
	margin: 0;
	color: #7D301F;
}
div.séance2 {
	background-color: rgb(43, 116, 143, .9);
}
h1.séance2 {
	margin: 0;
	color: #8E5D2A;
}
img.PerecNemours {
	width: 100%;
}
div.texte2 {
	position: relative;
	margin: 0 25vw;
	width: 50vw;
}
p.texte2 {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 1vw;
	visibility: visible;
	opacity: 0;
	text-align: justify;
	font-family: Georgia, serif;
	font-size: 2.25vw;
	line-height: 6vw;
}
div.texte2:hover img.PerecNemours {
	transition-duration: 500ms;
	webkit-filter: blur(4px);
	filter: blur(4px);
}
div.texte2:hover p.texte2 {
	transition-duration: 500ms;
	visibility: visible;
	opacity: 1;
}
div.séance3 {
	background-color: rgb(142, 93, 42, .9);
}
h1.séance3 {
	margin: 0;
	color: #2B748F;
}
p.texte3 {
	text-align: justify;
	font-family: Georgia, serif;
	font-size: 2.11vw;
	margin: 0 2vw;
	color: #F5C4A2;
}
div.séance4 {
	background-color: rgb(52, 58, 56, .9);
}
h1.séance4 {
	color: #905E51;
	margin: 0;
}
div.séance5 {
	background-color: rgb(144, 94, 81, .9);
}
h1.séance5 {
	color: #343A38;
	margin: 0;
}
img.dessinAngèle {
	margin: 0 35vw;
	width: 30vw;
}
div.séance6 {
	background-color: rgb(84, 92, 55, .9);
}
h1.séance6 {
	margin: 0;
	text-align: right;
	color: #BEF500;
}
img.diagramVenn {
	margin: 0 25vw;
	width: 50vw;
}
div.séance7 {
	background-color: rgb(43, 70, 71, .9);
}
h1.séance7 {
	color: #00DAE1;
	text-align: right;
	margin: 0;
}
div.texte7 {
	position: relative;
	margin: 0 25vw;
	width: 50%;
}
p.texte7 {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 1vw;
	visibility: visible;
	opacity: 0;
	text-align: justify;
	font-family: Georgia, serif;
	font-size: 1.65vw;
}
div.texte7:hover img.texte7 {
	transition-duration: 500ms;
	webkit-filter: blur(4px);
	filter: blur(4px);
}
div.texte7:hover p.texte7 {
	transition-duration: 500ms;
	visibility: visible;
	opacity: 1;
}
div.séance8 {
	background-color: rgb(97, 74, 58, .9);
}
h1.séance8 {
	color: #FA6A00;
	text-align: right;
	margin: 0;
}
div.séance9 {
	background-color: rgb(134, 84, 85, .9);
}
h1.séance9 {
	color: #3FDB69;
	margin: 0;
}
div.perso {
	margin: 0 10vw;
	width: 80vw;
}
img.perso {
	display: inline-block;
	width: 20vw;
}
p.perso {
	display: inline-block;
	font-family: Garamond;
	width: 60vw;
	vertical-align: top;
}
div.séance10 {
	background-color: rgb(63, 219, 105, .9);
	text-align: right;
}
h1.séance10 {
	color: #865455;
	margin: 0;
}
div.séance11 {
	background-color: rgb(210, 197, 163, .9);
}
h1.séance11 {
	color: #565F7C;
	text-align: right;
	margin: 0;
}
div.séance12 {
	background-color: rgb(86, 95, 124, .9);
}
h1.séance12 {
	color: #D2C5A3;
	text-align: right;
	margin: 0;
}